.list {
    float: left;
    width: 50%;
}

@media (max-width: 1200px) {
    .list {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .list {
        width: 100%;
    }
}


.graph-box {
    float: left;
    width: 50%;
    padding: 30px;
}

@media (max-width: 1200px) {
    .graph-box {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .graph-box {
        width: 100%;
    }
}